@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background:#00b3e6;
  background: linear-gradient(#00b3e6);
  font-family: "work sans";
  background-image: url('Flatiron_Fighter_background.jpeg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}